.navbar {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--bs-info-rgb), var(--bs-bg-opacity)) !important;
  font-weight: 555;
  min-height: 55px;
}

.hover-dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-menu {
  display: none;
  transition: all 0.3s ease;
  right: 0;
}

.container-fluid .nav {
  margin-left: 7.7%;
}

.nav-link {
  color: inherit;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  min-height: 55px;
  min-width: 120px;
}
.nav-link span {
  margin: -2px;
}

.nav-item {
  cursor: pointer;
}

.nav-link.active {
  background-color: rgb(0, 68, 55);
  color: white;
  border-radius: 0.25rem;
}

.nav-link:hover {
  background-color: #37a0a0;
  color: #ffffff;
  border-radius: 0.25rem;
}

.btn-invisible {
  color: transparent;
  background: transparent;
  border: transparent;
}

.btn-invisible .bi-bell {
  color: black;
  font-size: 20px;
}

.btn-secondary .bi-person-circle {
  font-size: 18.5px;
}

.notification-dot {
  position: absolute;
  top: 7px;
  right: 14px;
  width: 10px;
  height: 10px;
  background-color: red;
  border-radius: 50%;
  display: none;
}

.notification-dot.show {
  display: block;
}

.dropdown-menu.show {
  display: block;
}

.dropdown-item {
  color: #000;
}

.dropdown-item:hover {
  color: rgb(140, 155, 255);
}
